* {
    box-sizing: border-box;      
}
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: rgb(54, 54, 54);
}
.main-header {
    display: flex;
    flex-direction: column;
}
h1, h2 {
    margin: 20px 0;
}
a {
    text-decoration: none;
    color:rgb(63, 112, 197);
}
/* HEADER MENU */
.top-menu {
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: rgb(49, 50, 50);
    padding: 5px 20%;
}
.top-menu-logo a{
    display: flex;
    color: white;
    text-decoration: none;
}
.top-menu-list {
    justify-content: flex-end;
}
.top-menu-list-ul {
    display: flex;
    text-decoration: none;
    list-style-type: none;
}
.top-menu-list-li a {
    color:white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}
.top-menu-list-li a:hover {
    color: rgb(0, 0, 0);
    background-color: white;
}
.mainCover {
    width: 100%;
    height: 360px;
    background-color: rgb(24, 28, 46);
}
.main-heading {
    padding: 15px 20%;
    display: flex;
    flex-direction: column;
}
.leadership span{
    color: rgb(245, 245, 247);
}
.steve-cover {
    display: flex;
    color: rgb(245, 245, 247);
    justify-content: space-between;
}
.name, .emoji, #left-section, #right-section{
    width: 47%;
}
.name {
    padding-top: 70px;
}
.emoji {
    padding-top: 35px;
}
h1 {
    font-size: 30px;
}
.content {
    padding: 15px 20%;
    display: flex;
    justify-content: space-between;    
}
/* END OF CONTENT */
/* FOOTER */
.footer-main {
    padding: 20px 20%;
    background-color: rgb(245, 245, 247);
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer-nav {
    width: 33%;
    display: flex;
    flex-direction: column;
}
.footer-nav h3 {
    margin: 0;
    padding-bottom: 20px;
}
.footer-nav-column {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-nav-column a, span{
    color:rgb(54, 54, 54);
    padding-bottom: 10px;
    font-size: 14px;
}
.footer-nav a:hover {
    text-decoration: underline;
    /* background-color: transparent; */
}
.footer-center {
    text-align: center;
}
.footer-right {
    text-align: right;
    color: rgb(54, 54, 54);
}
.footer-right h3 {
    margin: 0;
    padding-bottom: 20px;
}
.message-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.message-box textarea {
    width: 300px;
    height: 100px;
    margin-bottom: 5px;
}
.footer-button {
    width: 300px;
    height: 25px;

}
.footer-button:hover {
    background-color: rgb(54, 54, 54);
    color: rgb(245, 245, 247);
}
