.products-list {
    margin-top: 20%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(54, 54, 54);
    /* top: 60px; */
    /* height: 200px; */
    text-decoration: none;
    list-style-type: none;
    justify-content: space-around;
    /* padding: 20px 0; */
    /* left: 20%; */
    width: 105px;
    /* border: 1px solid white; */
    text-align: center;
    /* margin: 10px 0; */
    
}




.burger-list-li {
    padding: 10px;
    font-size: 14px;
}

.burger-list-li a:hover {
    /* background-color: rgb(254, 254, 254); */
    /* padding: 10px; */
    text-decoration: underline;
    
}